<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::html_head}">
</head>

<body>
	<!-- Navbar -->
	<div th:replace="~{fragments::navbar-admin}"></div>
	<!-- Banner -->
	<div th:replace="~{fragments::banner-admin}"></div>

	<!-- Table -->
	<div class="container mt-3">
		<div class="col justify-content-end">
			<a th:href="@{/admin/employees/new}" class="btn btn-primary mr-2">Add New Employee</a>
			<a th:href="@{/admin/managestaff/generate-csv}" class="btn btn-lg text-dark">
				<i class="fa fa-file-excel-o fa-lg"></i>
			</a>
		</div>
		<table class="table table-striped table-sm">
			<thead class="thead-dark text-center">
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Employee Type</th>
					<th>Join Date</th>
					<th>Status</th>
					<th>Is Manager</th>
					<th>Manager ID</th>
					<th>Manager Name</th>
					<th>Update Hierarchy</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.userId}"></td>
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					<td th:text="${employee.empType != null ? employee.empType.empTypeName : 'N/A'}"></td>
					<td th:text="${employee.joinDate}"></td>
					<td th:text="${employee.empStatus}"></td>
					<td th:text="${employee.isManager ? 'Yes' : 'No'}"></td>
					<td th:text="${employee.manager != null ? employee.manager.userId : 'N/A'}"></td>
					<td th:text="${employee.manager != null ? employee.manager.firstName : 'N/A'}"></td>
					<td><a th:href="'/admin/hierarchy/edit/' + ${employee.userId}"
							class="btn btn-primary btn-sm">Update</a></td>
					<td>
						<a th:href="@{/admin/employees/edit/{id}(id=${employee.userId})}"
							class="btn btn-warning btn-sm">Edit</a>
						<a th:href="@{/admin/employees/delete/{id}(id=${employee.userId})}"
							class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Footer -->
	<div th:replace="~{fragments::footer}"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>