<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::html_head}"></head>

<body>
	<!-- Navbar -->
	<div th:replace="~{fragments::navbar}"></div>
	<!-- Banner -->
	<div th:replace="~{fragments::banner}"></div>
	
	<div class="container mt-3">
		<form action="#" th:action="@{/compensation/create}" th:object="${claim}" method="POST">
			<p>Number of days to claim</p>
			<input type="number" th:field="*{claimQty}" placeholder="Number of days (min = 0.5 days)" step=0.5 class="form-control mb-4 col-4">
			<p>Additional remarks and/or justification</p>
			<input type="text" th:field="*{remarks}" placeholder="Remarks (optional)" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">Submit</button>
		</form>

		<a th:href="@{/history/view}"> View Leaves and Claims History</a>
	</div>
	<!-- Footer -->
	<div th:replace="~{fragments::footer}"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>