<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Manager Landing Page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
	<h3>This is the manager landing page test</h3>
	<a href="/compensation/create" class="btn btn-primary">Create Compensation Claim</a>
	<br>
	<br>
	<a href="/compensation/claims" class="btn btn-primary">View My Compensation Claims</a>
	<br>	
	<br>
	<a href="/compensation/claims/team" class="btn btn-primary">View Team's Compensation Claims</a>
</body>

</html>